* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: none;
}


.slider-wrap {
  position: relative;
  background-color: aquamarine;
  max-width: 500px;
  height: 500px;
  margin: 0 auto;
  padding: 50px 0;
}

.slider {
  height: 100%;
  display: flex;
  list-style-type: none;
}

.slider-item {
  display: none;
  height: 100%;
  width: 100%;
}

.item-img {
  width:500px;
  height: 100%;
  object-fit: cover;
  
}

.slider-arrow {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 80%;
  width: 100%;
  top: 50px;
  z-index: 5;
}

.arrow {
  background-color: rgba(233 205 205 15%);
  cursor: pointer;
  height: 100%;
  width: 15%;
  font-size: 20px;
}

.arrow:hover {
  background-color: rgba(0 0 0 50%);
}


.navigation {
  background-color: black;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 30px 0;
  max-width: 1440px;
}

.navigation__item {
  color: aqua;
  font-size: 20px;
  text-decoration: none;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 5px;
  background-image: url('/src/img/main.jpg');
  background-size: cover;
  height: auto;
}

.main__title {
  text-align: center;
  margin-bottom: 10px;
  color: #18d6a7;
}

.main__content {
  padding: 0px 0px 5px 5px;
  color: white;
  font-size: 15px;
}

.index-footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 5px;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  gap: 5px;
  justify-items: center;
  background-color: pink;
}
